*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}
.container{
    background-color: white;
    width: 800px;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 10px 20px 10px rgba(255, 255, 255, 0.3);
}
h3{
    font-size: 24px;
    margin: 0;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
.btn{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}
.btn:hover{
    background-color: red;
    color: black;
    font-weight: bold;
}